header {
    background-color: #6bc406;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-top: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
}

.producto img {
    width: 80%;
    height: 300px;
    object-fit: cover;
}

.producto h3 {
    margin-top: 10px;
    font-size: 18px;
}

.producto p.precio {
    font-weight: bold;
    color: red;
}

.producto button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 600px;
    right: 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-right: 10px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
 Rama-Yurgen-luis
    color: #fdfdfd;

    color: #ffffff;
 main
    text-decoration: none;
    font-size: 16px;
}

.menu ul li a:hover {
    text-decoration: underline;
}