header {
    background-color: #409820;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
    margin: 10px;
}

header h1 {
    margin: 0; 
}

.menuL ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menuL ul li {
    margin-left: 10px; 
}

.menuL ul li:first-child {
    margin-left: 0;
}

.menuL ul li a {
    color: #0c2c4e;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.menuL ul li a:hover {
    text-decoration: underline;
}

.menu {
    margin-right: 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    display: flex-end;
}

.menu ul li {
    margin-left: 10px;
}

.menu ul li:first-child {
    margin-left: 0;
}

.menu ul li a {
    color: #070F2B;
    text-decoration: none;
    font-size: 16px;
}

.menu ul li a:hover {
    text-decoration: underline;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.producto {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
    display: inline-block; 
    vertical-align: top; 
    box-sizing: border-box; 
    padding: 0 10px; 
}

.producto img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.producto h3 {
    margin-top: 10px;
    font-size: 18px;
}

.producto p.precio {
    font-weight: bold;
    color: red;
}

.producto button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.producto button:hover {
    background-color: #0056b3;
}


.login-page {
    background-color: #53b336;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    background-color: #409820;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #307a15;
}

.login-message {
    margin-top: 20px;
    color: red;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
